body{
    font-family:'Montserrat', sans-serif;
    font-size: 14px;
}

*,
*:after,
*:before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*******first page****/
.block{
    background-image: url(../img/Rectangle.jpg);
    max-width: 100%;
    max-height: 100%;
    background-repeat: no-repeat;
    padding-bottom: 18%;
    text-align: center;
    background-position: center;
}

.header{
    padding: 40px 0;
    border-bottom: 1px solid #A1A1A1;
}

.nav{
    display: flex;
    padding-left: 750px;
}

.nav__link{
    list-style-type: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding-right: 30px;
}

.header-wraper{
    position: relative;
}

.header-wraper span::before{
    content: "";
    position: absolute;
    top: 59px;
    left: 730px;
    width: 107px;
    height: 2px;
    background-color:white;
}

.header:hover{
    border-bottom: 1px solid aqua;
}

.title{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.studio{
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #FFFFFF;
padding: 200px 25px 20px 25px;
}

.decision{
font-weight: 800;
font-size: 48px;
line-height: 64px;
text-align: center;
color: #FFFFFF;
margin: 2% 20%;
}

.projects{
background: #4985FF;
box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
border-radius: 30px;
text-align: center;
max-width: 200px;
margin: 0 auto;
padding: 10px 5px;
width: 100%;
}

.projects__link{
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-align: center;
text-decoration: none;
color: #FFFFFF;
}




/******apps***************/

.title__mobile{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 50px 50px 50px;
}

.title__apps{
font-weight: bold;
font-size: 36px;
line-height: 53px;
padding: 2% 22%;
}

.title__apps:hover{
    text-decoration:underline;
    text-decoration-color: aqua;
}

.subtitle__apps{
    padding: 20px 300px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
}

.wraper__item{
    display: flex;
    width: 33.3333%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  
}

.apps__wraper{
    display: flex;
    justify-content: space-between;
    max-width: 1113px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.logo__text{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color:black;
    padding: 80px 10px 10px 20px ;
    
}

.logo__text p{
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #999999;
  
}

.logo {
    position: relative;
    padding: 20px ;
    border-radius: 50%;
    z-index: 1;
    border: 1px solid#4985FF;
}

.mask{
    position: absolute;
    border: 1px solid #E0E0E0;
    border-radius: 50%;
    top: -8px;
    left: -11px;
    width: 100px;
    height: 100px;
    z-index: 2;
}

.mask :hover{
    border-radius: 50%;
    border: 1px solid#4985FF;
}

/********standarts********/

.standarts{
    background-color:#F6F6F8;
    margin-top: 7%;
}

.wraper__stadarts{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1110px;
    width: 100%;
    margin:0 auto ;
    padding: 100px 0 ;
    z-index: 1;
}
    
.standarts__text{
    padding: 10px 70px 10px 10px ;

}
    

.high__stadarts{
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #323232;
    padding: 20px;
}

.standarts__text p{
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    padding: 20px;
}

.company{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #4985FF;
    padding: 20px;
}

.wraper__stadarts span::before{
    content: "";
    position: absolute;
    top: 600px;
    left: 20px;
    width: 1080px;
    height: 2px;
    background-color:#E0E0E0;
}

.icons{
    display: flex;
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 50px 15px;
}

.icon__img{
    width: 20%;
}

.icon__img p{
    display: inline-block;
    font-size: 36px;
    line-height: 53px;
    color: black;
    padding-left: 10px;
}

.icon__img{
    display: flex;
}

.our__projects{
    font-size: 16px;
    line-height: 25px; 
    color: #999999; 
}


/**********our work******/

.work{
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
    height: 490px;
    
}

.work__text{
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #FFFFFF;
    
}

.work__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 0px 70px 0;
}
.services{
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    text-align: center;
    max-width: 200px;
    padding: 10px 5px;
    width: 100%;
}

.servises__link{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;  
}

.work__wraper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #F6F6F8;
    padding-bottom: 6%;
   
}

.research{
    display: flex;
    padding: 20px 10px 20px 0;
}

.research p:first-child{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #4985FF;
}

.research p:last-child{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color:black;
    
}

.work__item p{
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    padding-bottom: 10px;
    padding-right: 20px;
}

.work__item a{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #4985FF;
}

.work__item{
    width: 32% ;
}



/*******our projects*****/
.our__projects{
    margin-top: 32%;
    background: #F6F6F8;
    padding-bottom: 8%;
}

.projects__info{
    text-align: center;
    padding: 7% 25%;
}

.projects__info p:first-child{
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: black;
    padding-bottom: 4%;
}

.projects__info p:last-child{
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color:#999999;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
}

.projects__images{
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 5%;
}
